@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@400;600;700;800&display=swap");

$shadow1: gainsboro;
$gradient: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);

$primary: #2b8063;
$secondary: #14C38E;
$accent1: #B8F1B0;
$accent2: #E3FCBF;

html {
    font-size: 125%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    width: 100vw;
}


header {
    background-color: $secondary;
    color: white;

}

h1,
h2,
h3,
h4,
a,
p,
li,
ul {
    margin: 0;
    padding: 0;
}

p,
a,
span,
li {
    color: black;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    margin: 10px 5px;
    padding: 10px;
    background-color: $secondary;
    color: white;
    border-style: none;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

button:hover {
    transition: all 0.5s ease-in-out;
    background-color: $primary;
    color: white;
}

input {
    padding-left: 5px;
}

label {
    display: block;
    padding: 15px 0;
}

textarea {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
}

h1, h2, label, button, textarea, p {
    font-family: "Poppins", sans-serif;
}

.wrapper {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

.button-container {
    justify-content: flex-end;
    display: flex;
    padding: 15px 0;
}

.word-container {

    transition: all;
}

.response-container {
    background-color: $secondary;
    margin: 15px 0;
    padding: 20px;
    border-radius: 10px;
    p, span {
        padding: 5px 0;
        color: white;
    }
}
